@charset "UTF-8";
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Playfair Display", sans-serif;
  /* font-weight: 400; */
  color: var(--color-main);
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid green;
  }
}

.mogal-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-link {
  text-transform: lowercase;
  text-transform: uppercase;
  color: var(--color-second);
}

.modal-link:hover {
  color: var(--color-hover);
}

/* Сховати чекбокс */
#menu-toggle {
  display: none;
}

@media screen and (min-width: 768px) {
  label {
    width: 768px;
    display: none;
  }
}

/* Базові стилі для бургер-меню */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  /* Поверх меню */
}

.menu-btn:hover path {
  fill: #ff5722;
  /* Колір при наведенні */
}

/* Повноекранне меню */
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

/* Стиль для елементів меню */
.menu-content {
  color: white;
  font-size: 2em;
}

/* Показати меню при активному чекбоксі */
#menu-toggle:checked + .menu {
  display: flex;
}

/* Кнопка для закриття меню (хрестик) */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.close-btn:hover path {
  fill: #ff5722;
  /* Колір при наведенні */
}

.header {
  padding-top: 71px;
  padding-bottom: 92px;
}

.header-nav-list {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.header-nav-list-item-link {
  text-transform: lowercase;
  text-transform: uppercase;
  color: var(--color-second);
}

.header-nav-list-item-link:hover {
  color: var(--color-hover);
}

.gallery {
  margin-bottom: 66px;
}

.gallery-title {
  display: none;
}

.galleri-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 130px;
}

.galleri-item {
  flex-basis: calc((100% - 65px) / 2);
}

.galleri-img {
  margin-bottom: 62px;
}

.galleri-link {
  display: block;
  margin-bottom: 32px;
  font-family: var(--second-family);
  font-weight: 300;
  color: var(--color-third);
}

.galleri-list-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-colum-container {
  display: flex;
  flex-direction: column;
}

.galleri-box-button {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.galleri-button {
  align-self: center;
  margin-top: 90px;
  padding: 20px 48px 21px 48px;
  background-color: inherit;
}

:root {
  --color-main: #626262;
  --color-link: #7D7D7D;
  --color-card-link: #B4AD9E;
  --color-hover: #03A9F4;
}/*# sourceMappingURL=main.css.map */