:root{
    --color-main: #626262;
    --color-link: #7D7D7D;
    --color-card-link: #B4AD9E;
    --color-hover: #03A9F4;
}
body{
    font-family: "Playfair Display", sans-serif;
    /* font-weight: 400; */
    color: var(--color-main);
}
.container{
    width: 905px;
    margin: 0 auto;
    outline: solid 2px red;
}
.header-nav-list-item-link{
    /* font-family: "Playfair Display", sans-serif; */
    /* font-weight: 400; */
    font-size: 14px;
    color: var(--color-link)
}
.header-nav-list-item-link:hover{
    color: var(--color-hover);
}
.galleri-link{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-card-link)
}
.galleri-list-title{
    /* font-family: "Playfair Display", sans-serif; */
    font-weight: 400;
    font-size: 30px;
    color: var(--color-main)
}
.galleri-text{
    /* font-family: "Playfair Display", sans-serif; */
    /* font-weight: 400; */
    font-size: 14px;
    color: var(--color-main)
}
.button{
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-main)
}
.galleri-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.galleri-item{
    width: 420px;
}