.header-nav-list-item-link{
    /* font-family: "Playfair Display", sans-serif; */
    /* font-weight: 400; */
    font-size: 14px;
    color: var(--color-link)
}
.header-nav-list-item-link:hover{
    color: var(--color-hover);
}